.wy-side-nav-search {
    background-color: #57068c !important; /* NYU Violet */
}

.wy-side-nav-search .icon {
    color: #ffffff !important; /* White color for the logo text or icon */
}

/* Main content area width */
.wy-nav-content {
    max-width: 1000px !important;
    width: 100% !important;
    margin: 0 auto !important;
}

body {
    font-family: 'Roboto', sans-serif !important;
}

/* Uniform font size and style across all text elements */
.rst-content p {
    /*font-size: 1.2em !important;*/
    line-height: 1.5 !important;
    text-align: justify !important;
    font-weight: normal !important;
}


/* ========================
   Heading Styling
=========================== */
.rst-content h1 {
    font-size: 2em !important;
    color: #57068c !important;         /* NYU Purple */
    text-align: center !important;
    font-weight: bold !important;
    margin-top: 0 !important;          /* Remove space above */
    margin-bottom: 1em !important;   /* Keep tight below */
}

.rst-content h2 {
    font-size: 1.75em !important;
    color: #57068c !important;         /* Deep Purple */
    font-weight: bold !important;
    margin-top: 1em !important;
    margin-bottom: 0.3em !important;
}

.rst-content h3 {
    font-size: 1.5em !important;
    color: #8a51af !important;
    font-weight: bold !important;
    margin-top: 1em !important;
    margin-bottom: 0.3em !important;
}

.rst-content h4 {
   font-size: 1.25em !important;
    color: #7f7f7c !important;
    font-weight: bold !important;
    margin-top: 1em !important;
    margin-bottom: 0.3em !important;
}